/* Center the post container */
.post-container {
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.post-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

/* Adjust width of the post container */
.post-scroll {
    padding-right: 20px;
}

/* Style for individual post */
.post {
    width: 60%;
    max-width: 1000px; /* Adjust max-width as needed */
    margin: 0 auto 20px; /* Center horizontally and add bottom margin */
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.see-more-link {
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
}

