.JsonFooter
{
    background-color: #9cc255;
    color: #0e0e0e;
    padding: 1px 0;

}

.text-Json
{
font-family: Roboto, Arial, Helvetica, sans-serif;
}

.text-header-Json
{
    font-weight: 700;
    font-family: monospace;
}

.Json-BTN
{

    background-color: #d8f8b8 !important;
    color:#000000 !important;
    font-family: 'Hammersmith One', sans-serif !important;
    border:  2px solid   #369a14;
}


  